.folder {
  font-size: 12pt;
  color: blue;
}

.big-file {
  font-size: 18pt;
  color: red;
}

.normal-file {
  font-size: 14pt;
  color: green;
}

.little-file {
  font-size: 12pt;
  color: black;
}
